<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.exzorzio.pentascan">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
        <activity
            android:name="io.exzorzio.pentascan.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="io.exzorzio.pentascan.AboutActivity"
            android:screenOrientation="portrait"
            android:label="@string/about_title"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <activity android:name="io.exzorzio.pentascan.RegistrationFirst"
            android:screenOrientation="portrait"
            android:label="Registration"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <activity android:name="io.exzorzio.pentascan.Practise"
            android:screenOrientation="portrait"
            android:label="Practise"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <activity android:name="io.exzorzio.pentascan.EasyPrac"
            android:screenOrientation="portrait"
            android:label="Easyprac"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <activity android:name="io.exzorzio.pentascan.MedPrac"
            android:screenOrientation="portrait"
            android:label="Medprac"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <activity android:name="io.exzorzio.pentascan.HardPrac"
            android:screenOrientation="portrait"
            android:label="Hardprac"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <activity android:name="io.exzorzio.pentascan.PracText"
            android:screenOrientation="portrait"
            android:label="PracText"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>

    </application>

</manifest>